@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  /* background-color: var(--lightViolet); */
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

.font-xxs {
  font-size: 0.68rem;
}

.text-xxs {
  font-size: 0.58rem;
}
h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 15px;
  margin: 0;
}

h5 {
  font-size: 14px;
  margin: 0;
}

h6 {
  font-size: 12px;
  margin: 0;
}

:root {
  --lightYellow: #fef7cf;
  --darkYellow: #ffde0b;
  --lightBlue: #f2f9ff;
  --darkBlue: #007fff;
  --pink: #ff9eb6;
  --strongPink: #ff56a5;
  --purple: #ad4bbf;
  --orange: #ffa100;
  --green: #45ccc2;
  --blue2: #005aaf;
  --lightPink: #fff0f4;
  --lightStringPink: #ffe8f3;
  --lightPurple: #fee8fa;
  --lightOrange: #fff1d8;
  --lightGreen: #e8fcfa;
  --lightBlue: #e5f2ff;
  --lightRed: #f9735b;
  --middleGreen: #82fdad;
  --violet: #802d85;
  --lightViolet: #ebdae9;
  --extraLightViolet: #ebdae980;
  --middleWhite: #f5f0f6;
  --skyblue: #A1EDD2;
  --completeBg:#A1EDD2;
  --pendingBg:#F2C0A2;
  --submittedBg:#96CFF2;
  --declinedBg:#DE8EA3;
  --stronglyDesagreeBg:#DE8EA3;
  --disagreeBg:#EDC1CC;
  --disagreeSVBg:#F2C0A2;
  --neitherdisagreeOrNoDisagreeBg:#C0E2F7;
  --agreeBg:#C6FFEB;
  --stronglyAgreeBg:#A1EDD2;
  --saPendingBg:#F2C0A2;

  --veryUnresponsiveBg:#DE8EA3;
  --unresponsiveBg:#EDC1CC;
  --neutralBg:#C0E2F7;
  --engagedBg:#C6FFEB;
  --veryEngagedBg:#A1EDD2;
}

/* [type="“checkbox”"],
[type="“radio”"] {
  height: 44px !important;
  width: 24px !important;
} */



.completeBg{
background-color: var(--completeBg);
}
.pendingBg {
background-color: var(--pendingBg);
}
.submittedBg{
background-color: var(--submittedBg);
}
.declinedBg{
background-color: var(--declinedBg);
}
.lne-text-white {
  color: white !important;
}

.saPendingBg{
  background-color: var(--saPendingBg);
}

.veryUnresponsiveBg {background-color: var(--veryUnresponsiveBg)}
.unresponsiveBg {background-color: var(--unresponsiveBg)}
.neutralBg {background-color: var(--neutralBg)}
.engagedBg {background-color: var(--engagedBg)}
.veryEngagedBg {background-color: var(--veryEngagedBg)}
@variants hover {
  .veryUnresponsiveBg {background-color: var(--veryUnresponsiveBg)}
  .unresponsiveBg {background-color: var(--unresponsiveBg)}
  .neutralBg {background-color: var(--neutralBg)}
  .engagedBg {background-color: var(--engagedBg)}
  .veryEngagedBg {background-color: var(--veryEngagedBg)}
  .saPendingBg{
    background-color: var(--saPendingBg);
  }
}

@variants hover {
.stronglyDisagreeBg {
background-color: var(--stronglyDesagreeBg);
}
.disagreeBg{
background-color: var(--disagreeBg);
}

.neitherAgreeOrDisagreeBg{
background-color: var(--neitherdisagreeOrNoDisagreeBg);
}

.agreeBg{
background-color: var(--agreeBg);
}

.stronglyAgreeBg{
background-color:var(--stronglyAgreeBg);
}

.disagreeSVBg {
  background-color: var(--disagreeSVBg);
}
}

.disagreeBg{
background-color: var(--disagreeBg);
}


.disagreeSVBg {
  background-color: var(--disagreeSVBg);
}

.neitherAgreeOrDisagreeBg{
background-color: var(--neitherdisagreeOrNoDisagreeBg);
}

.agreeBg{
background-color: var(--agreeBg);
}

.stronglyAgreeBg{
background-color:var(--stronglyAgreeBg);
}

.stronglyDisagreeBg{
background-color: var(--stronglyDesagreeBg);
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.spinner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid;
  border-color: white;
  border-right-color: black;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
/* The Modal (background) */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-btn-close {
  position: relative;
  left: 93%;
  top: -1px;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-yellow {
  background-color: var(--darkYellow);
}

.btn-blue {
  background-color: var(--darkBlue);
}
.btn-lightBlue {
  background-color: var(--lightBlue);
}
.btn-darkBlue {
  background-color: var(--darkBlue);
}
.btn-darkYellow {
  background-color: var(--darkYellow);
}
.btn-darkGreen {
  background-color: var(--green);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 300px) {
  @keyframes example {
    0% {
      right: -120%;
    }
    100% {
      right: -48%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  @keyframes example {
    0% {
      right: -120%;
    }
    100% {
      right: -70%;
    }
  }
}

.notification-animation {
  animation: example 1s;
  animation-fill-mode: forwards;
}

.notification-box {
  position: relative;
  top: 1px;
  right: 110%;
  display: inline-block;
  z-index: 1;
  max-width: 300px;
  transition: 0.5s easy-in-out;
  animation-delay: 0s;
}

.not-box {
  display: inline-block;
  background-color: #f8f8f8;
  color: #666;
  border-radius: 5px;
  padding: 10px;
  border-left: 10px solid green;
}

.dashboard-card-name-box {
  grid-template-columns: 32px 2fr;
}

/* TEXT COLORS */

.text-dark-blue {
  color: var(--darkBlue);
}

.text-color-light-blue {
  color: var(--blue);
}

.text-color-violet {
  color: var(--violet);
}
/* BACKGROUNDS */

.bg-yellow {
  background-color: var(--darkYellow);
}

.bg-dark-blue {
  background-color: var(--darkBlue);
}
.hover-bg-dark-blue:hover {
  background-color: var(--darkBlue);
}

.bg-light-blue {
  background-color: var(--lightBlue);
}

.bg-light-green {
  background-color: var(--lightGreen);
}

.bg-dark-green {
  background-color: var(--green);
}
.bg-middle-green {
  background-color: var(--middleGreen);
}

.bg-light-pink {
  background-color: var(--lightPink);
}

.bg-dark-pink {
  background-color: var(--darkPink);
}

.bg-light-purple {
  background-color: var(--lightPurple);
}

.bg-violet {
  background-color: var(--violet);
}
.grandient-violet {
  background: linear-gradient(
    0deg,
    rgba(128, 45, 133, 1) 15%,
    rgba(108, 30, 113, 1)
  );
}

.bg-dark-pueple {
  background-color: var(--darkPurple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-light-red {
  background-color: var(--lightRed);
}
.bg-middle-white {
  background-color: var(--middleWhite);
}

.bg-light-purple {
  background-color: var(--lightPurple);
}
.bg-light-violet {
  background-color: var(--lightViolet);
}
.bg-extra-light-violet {
  background-color: var(--extraLightViolet);
}
.bg-violet {
  background-color: var(--violet);
}

.bg-middleWhite {
  background-color: var(--middleWhite);
}
.bg-sky-blue {
  background-color: var(--skyblue);
}
/* BORDERS */
.border-black {
  border: 1px solid black;
}

.border-black-md {
  border: 2px solid black;
}

.border-black-lg {
  border: 1px solid black;
  border-radius: 10px;
}
.border-light-blue {
  border-color: var(--lightBlue);
}

.border-dark-blue {
  border: 1px solid var(--darkBlue);
}

.border-dark-violet {
  border: 1px solid var(--violet);
  border-radius: 10px;
}

.border-l-dark-blue {
  border-left: 1px solid var(--darkBlue);
}

.border-t-black {
  border-top:1px solid black
}

.border-b-black {
  border-bottom:1px solid black
}

/*Client profile style */

.border-r-dark-blue {
  border-right: 1px solid var(--darkBlue);
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
  padding: 10px;
}

.button-toogle:checked ~ .dot {
  transform: translateX(100%);
}
/* MONITOR FUNDING */

.monitor-funding .rdt_TableRow:nth-of-type(odd) {
  background-color: var(--lightBlue);
}
.eUeqdG {
  white-space: normal !important;
}

table {
  font-size: 8px;
}

table td,
#customers th {
  border: 1px solid #ddd;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}
.dashboardClientListHeadRow {
  display: grid;
  gap: 2px;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 2fr 1.5fr 1fr 1fr;
}
.dashboardActiveUsersListHeadRow {
  display: grid;
  gap: 5px;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 2fr 1.5fr 1.5fr 1fr 1fr;
}
/*FORM & QUESTION BODY */
.form-body {
  display: grid;
  padding-top: 28px;
  padding-bottom: 28px;
  gap: 40px;
  border-radius: 8px;
}
.question-body {
  display: grid;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 40px;
}
.question-body > p {
  margin-top: 4px;
}
.question-body > div {
  display: grid;
  gap: 20px;
  margin-top: 28px;
}
.question-body > div > label {
  display: flex;
  gap: 20px;
  align-items: center;
}
.question-body > div > label > p,
.question-body > div > label {
  font-size: 18px;
}

input[type="radio"],
input[type="checkbox"] {
  min-height: 30px;
  min-width: 30px;
}
label > input[type="text"],
label > input[type="radio"],
label > input[type="number"],
label > input[type="date"],
label > input[type="time"],
label > input[type="phone"],
label > input[type="email"],
label > textarea {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
}

.airs-form-container .checkbox-normal-size {
  min-width: 13px ;
  min-height: 13px ;
}
@media (min-width: 768px) {
  .w-134 {
    width: 536px;
  }
}

.checkbox-round {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid red;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-round:checked {
  background-color: green;
}

/* EVENTS TABLE  */
.existing-events-head-table {
  
  grid-template-columns: 4fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr ;
  gap: 30px;
}
.supervisor-existing-events-head-table {
 
  grid-template-columns: 4fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  gap: 30px;
}

.existing-oef-events-head-table {
  
  grid-template-columns: 4fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr;
  gap: 30px;
}
.supervisor-existing-oef-events-head-table {
 
  grid-template-columns: 4fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  gap: 30px;
}

.supervisor-existing-fbo-events-head-table {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.supervisor-directory-fbo-head-table {
 
  grid-template-columns: 4.5fr 1.8fr 1.3fr 3fr 1fr 1fr;
  gap: 1.25rem
}
.directory-fbo-head-table {
 
  grid-template-columns: 4.5fr 1.8fr 1.3fr 3fr 1fr;
  gap: 1.25rem
}

.technical-assistance-head-table {
 
  grid-template-columns: 1fr 2fr 2fr 2fr 1.5fr 1fr 1.5fr 0.6fr ;
  gap: 15px;
}

.site-visits-head-table {
 
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}

/* PARTICIPANT SURVEY */

.participant-survey-head-table {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 4fr;
}

/* LABELS */
label {
  display: flex;
  font-size: 18px;
}
/*
label > div {
  display: flex;
  align-items: center;
} 
label h3 {
  margin-left: 20px;
  margin-right: 20px;
}*/
